.DS_STORE
.DS_Store
gh/hosts.yml
Sublime Text/Local/Auto Save Session.sublime_session
Sublime Text/Local/Session.sublime_session
.initialized-dotfiles
karabiner/automatic_backups
config/gh/hosts.yml
config/nushell/history.txt
.aider*

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.conventional-commits-initialized
config/aichat/.env
