.DS_STORE
.DS_Store
fish_variables
gh/hosts.yml
Sublime Text/Local/Auto Save Session.sublime_session
Sublime Text/Local/Session.sublime_session
.initialized-dotfiles
fish/themes
fish/conf.d/git.fish
fish/conf.d/fzf.fish

# Ignore the functions folder and all its contents
fish/functions/**

# Do not ignore the custom folder inside functions
!fish/functions/custom/

# Ensure all files within the custom folder are tracked
!fish/functions/custom/**

# Ignore the completions folder and all its contents
fish/completions/**

# Do not ignore the custom folder inside completions
!fish/completions/custom/

# Ensure all files within the custom folder are tracked
!fish/completions/custom/**
bin/toggle-dock
bin/toggle-menubar
fish/conf.d/_tide_init.fish
fish/conf.d/hydro.fish
karabiner/automatic_backups
config/gh/hosts.yml
config/nushell/history.txt
config/fish/conf.d/secrets.fish
.aider*
